@import 'bourbon';

body {

  background: #eee;
  font-family: $lucida-grande;

  header {
    margin-bottom: 30px;
  }

  form {
    text-align: center;
    input {
      width: 3em;
      font-size: 2.7em;
      text-align: center;
      border: 0px;
      background: transparent;
    }
  }

  ol {
    display: inline;
    li {
      display: inline;
      ol {
        li {
          padding: 0.4em 0.6em;
          border: 1px black solid;
        }
      }
    }
  }

  footer {
    margin-top: 50px;
    text-align: center;
    font-size: 0.7em;
  }

}
