---
import Layout from "../layouts/Layout.astro";

const title = "404 - Page Not Found";
---

<Layout title={title} noindex={true}>
    <div class="my-3 sm:my-1 text-center sm:text-left">
        <h1 class="text-6xl font-bold tracking-tight text-gray-900 sm:text-6xl">
            404
        </h1>
        <h2 class="text-2xl font-bold text-gray-600">Page Not Found</h2>
        <p class="my-8">The page you're looking for doesn't exist.</p>
        <a href="/" class="text-blue-600 hover:underline"
            >← Back to IP / CIDR Calculator</a
        >
    </div>
</Layout>
